<nav class="sticky-top">
    <div class="menu-items nav nav-pills flex-column flex-sm-row">
        <button class="menu-toggler "><i class="fa fa-solid fa-bars"></i></button>
        <div class="nav-leftside">
            <a class="flex-sm-fill text-sm-center nav-link " aria-current="page" href="/"><i class="fa fa-home"></i> Home</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="/about"><i class="fa fa-thin fa-info"></i> About</a>
        </div>
        <div class="nav-rightside">
            <a class="flex-sm-fill text-sm-center nav-link " href="login"><i class="fa fa-solid fa-user-plus"></i> Log in</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="flashcards/create-deck"><i class="fa fa-plus" style="font-size: medium;"></i> New Deck</a>
        </div>
    </div>
</nav>