<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %>
<body>
    <!-- Nav Bar -->
     <%- include('./partials/nav.ejs') %>
    <h1 style="text-align: center; margin-top: 5%;">Deck Name Placeholder</h1>
    <div class="add-card-btn">
        <button type="submit" class="btn btn-primary">Add Another Card</button>
        <button type="submit" class="btn btn-warning">Run Deck</button>
        <button type="submit" class="btn btn-success">Done!</button>
    </div>
    <div class="new-card-details">
        <div class="card new-deck-card" style="height: 20.5em;" >
            <div class="card-header">
                <h5 class="card-title text-center">prompt / front</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                      <label for="card-prompt" class="form-label" >prompt</label>
                        <input name="card-prompt" id="" class="form-control" aria-describedby="promptHelp">
                        <div id="promptHelp" class="form-text">Keep it simple</div>
                    </div>
                    <div class="mb-3 form-check">
                    </div>
                    
                </form>
            </div>
        </div>
        
        <div class="card new-deck-card" >
            <div class="card-header">
                <h5 class="card-title text-center">response / back</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                      <label for="card-reponse" class="form-label">reponse</label>
                        <textarea name="card-reponse" id="" class="form-control" rows="5" aria-describedby="responseHelp"></textarea>
                        <div id="responseHelp" class="form-text">avoid using words in the prompt</div>
                    </div>
                    <div class="mb-3 form-check">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>