<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <!-- Nav Bar -->
    <%- include('./partials/nav.ejs') %>
    <h1>Create a New Deck</h1>
    <div class="new-deck-details">
        <div class="card new-deck-card" >
            <div class="card-header">
                <h5 class="card-title text-center"> New Deck</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                      <label for="deck-title" class="form-label">Deck Title</label>
                      <input type="text" class="form-control" id="deck-title" >
                    </div>
                    <div class="mb-3">
                      <label for="deck-description" class="form-label">Description</label>
                        <textarea name="deck-description" id="" class="form-control"></textarea>
                    </div>
                    <div class="mb-3 form-check">
                    </div>
                    <button type="submit" class="btn btn-primary">Build Deck</button>
                    <button type="submit" class="btn btn-dark">Save for Later</button>
                  </form>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>