<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Log in</h1>
    
    <form class="login-form" action="/:username" method="GET">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-outline-primary">Log in</button>
      </form>
      <p style="text-align: center; color: orange; text-decoration: none;"><a href="/signup" style="color: inherit; text-decoration: none; font-size: medium;" >Dont Have a Log in? Sign Up Here!</a></p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>