<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <h1>Sign Up Form</h1>
    
    <form class="login-form">
        <div class="mb-3">
          <label for="usernameInput" class="form-label">Create Username</label>
          <input type="text" class="form-control" id="usernameInput" >
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label"> Create Password</label>
          <input type="password" class="form-control" id="password1">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password2">
          </div>
        <div class="mb-3 form-check">
        </div>
        <button type="submit" class="btn btn-outline-primary">Sign Up</button>
      </form>
      <p style="text-align: center; color: orange;"><a href="/login" style="color: inherit; text-decoration: none; font-size: medium;">Already Signed Up? Log in Here!</a></p>

    <%- include('./partials/footer.ejs') %>
</body>
</html>